{BasedOnStyle: Google, IndentWidth: 4, AllowShortIfStatementsOnASingleLine: false, AllowShortIfStatementsOnASingleLine: false, AllowShortBlocksOnASingleLine: false, AllowShortCaseLabelsOnASingleLine: false, AllowShortLoopsOnASingleLine: false, AllowShortFunctionsOnASingleLine: false}
